@import "./assets/sass/reset.scss";
@import "./assets/sass/variables.scss";

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", san-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $dark-grey;
    color: $grey;
}
